.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.songPlaying{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.names{
  text-align: center;
  line-height: 1.9em;
}

.title{
  font-weight: bold;
  font-size: 23px;
}

.artist{
  font-size: 18px;
}

.album{
  font-size: 18px;
}